.div-apper{
    width: 80%;
}
h4{
    text-indent: 2em;
    line-height: 25px;
}
h4 span{
    color: #008800;
    font-size: 25px;
}
#choice1,#choice2,#choice3,#choice4{
    display: inline;
}
a{
    font-size: 25px;

}
.word-style p{
    line-height: 35px;
    font-family: "Î¢ÈíÑÅºÚ";
    font-weight: bold;
}
#jc{
    color:#fc8c84;
}
#gx{
    color:#008800;
}
