<!DOCTYPE html>
<html ng-app="myModule">
<head lang="en">
    <meta charset="UTF-8">
    <title>ngrepeat</title>
    <link rel="import" href="../framework/common/head.html"/>

</head>
<body>
<div ng-controller="NamesController">
    <p>过滤</p>
    <input type="text" ng-model="name"/>
    <input type="button" ng-click="test()" value="显示value">
    <ul>
        <li ng-repeat="x in person|filter:name">
            <span ng-bind="x.name"></span>
            <span>{{detail.a}}</span>
            <span>{{detail.b}}</span>
            <span>{{detail.a + detail.b}}</span>
        </li>
    </ul>

</div>
<script>
    var M1 = angular.module('myModule',[]);
    M1.controller('NamesController',['$scope',function($scope){
        $scope.person=[
            {name:'xiaoming'},
            {name:'xiaomo'},
            {name:'hongsheng'},
            {name:'jiawen'}
        ];

        $scope.detail={
            a:1,
            b:2
        }

        $scope.test = function() {
            console.log($scope.name);
        }
    }])

</script>
<script src="../framework/angularjs/angular.min.js"></script>
</body>
</html>