/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
	background:#ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}
.wrap{
	padding:0px 10px;
}
/* start header*/
.header-bg{
	display: block;
	background-color: #6C5468;
	position: relative;
}
.header{
	display: block;
}
.logo{
	text-align:center;
}
.logo{
	position: absolute;
	left: -2%;
	right:0%;
	z-index: 999;
	top: -8px;
	text-align: center;
	margin: 0 auto;
	width:74px;
}
.drp-dwn select {
	font-size:12px;
	padding: 3px 0px;
	outline: none;
	display: block!important;
	margin-bottom: 2px;
	width: 100%;
	border: 1px solid #6C5468;
	background-color: #6C5468;
	color: #ffffff;
	cursor: pointer;
}
.drp-dwn {
	float: right;
}
.header_bottom {
	width: 100%;
	position: absolute;
	background: url(../images/vect.png);
	height:14px;
}
/*--slider--*/
.text-slider{
	background:url(../images/bg4.jpg) no-repeat 0px 0px;
	background-size: 100%;
}
.da-slide
{
	padding: 2.5em 0em;
}
.da-slide h2,.da-slide p
{
	text-align: center;
}
.da-slide p{
	color:#fff;
	font-size: 0.9em;
}
.da-slide span h6{
	border-bottom: 1px solid #fff;
	padding: 0.5em;
	width:15px;
	margin: 0 auto;
}
/*--//End-slider--*/
.con
{
	margin: 0% 10%;
	padding-top: 15em;
	padding-bottom: 2em;
}
.con span{
	width: 56px;
	display: block;
	margin: 0 auto;
}
.con p
{
	color:#fff;
	font-size: 3.6em;
	text-align: center;
	padding: 1em 0em;
}
.con  span h6{
	border-bottom: 1px solid #fff;
}
/*******main**************/ 
.main {
	background: #fafafa;
}
.part_of_1
{
	text-align:center;
}
 .image
{
	text-align:center;
}
.image a {
	border: 1px solid #E3E3E3;
	border-radius: 50%;
	display: inline-block;
	box-shadow: 0px 0px 3px #979797;
}
.part_of_1 img {
	margin: 10px 13px 7px 13px;
}
.part_of_1 p,.part_of_1 span
{
	color:#979797;
	font-size: 1em;
	font-style: italic;
	padding: 1em 0em 0em 0em;
}

.grid_of_1
{
	text-align: center;
	padding: 0.5em 0em 0em 0em;
}
.grid_of_1 h3
{
	color:#7D7D7D;
	font-size: 1em;
	text-transform: uppercase;
	padding:1.1em 0em;
}
.para {
	color: #969696;
	margin: 0 auto;
	font-size: 0.875em;
	line-height: 1.7em;
	font-weight: 100;
}
.grid_of_1 h4
{
	color:#454545;
	font-size: 1em;
	padding:1.3em 0em 0.4em 0em;
	font-style: italic;
}
.grid_of_1 h5
{
	color:#7D7D7D;
	font-size:1em;
	padding:0.6em 0em 0em 0em;
	font-style: italic;
}
.links {
	width: 176px;
	margin: 0 auto;
}
.links ul li{
	float: left;
}
.links ul{
	padding: 0.5em 0.5em;
	border-radius: 2px;
}
.links ul li a{
	height: 40px;
	width: 53px;
	display:inline-block;
}
.upload{
	background: url(../images/sprite.png) no-repeat 0px 0px;
}
.refesh{
	background: url(../images/sprite.png) no-repeat -50px 0px;
}
.wishlish{
	background: url(../images/sprite.png) no-repeat -100px 0px;
}
.upload:hover{
	background: url(../images/spriteh.png) no-repeat 0px 0px;
}
.refesh:hover{
	background: url(../images/spriteh.png) no-repeat -50px 0px;
}
.wishlish:hover{
	background: url(../images/spriteh.png) no-repeat -100px 0px;
}
.grid_of_1 span {
	width: 100px;
	display: block;
	margin: 0 auto;
	padding: 0.6em 0em;
}
.grid_of_1 span h6{
	border-bottom: 2px solid #979797;
}
.bg_images {
	margin: 0 auto;
	padding: 2em 0em 1em 0em;	
}
.bg_images a {
	display: inline-block;
	padding: 1em;
	border: 1px solid #E3E3E3;
	box-shadow: 0px 0px 6px #E3E3E3;
}
.bg_images img{
	width:100%;
}
.bg_vedio {
	margin: 0 auto;
	padding: 2em 0em 1em 0em;	
}
.bg_vedio a {
	display: inline-block;
	padding: 1em;
	border: 1px solid #E3E3E3;
	box-shadow: 0px 0px 6px #E3E3E3;
}
.bg_vedio img {
	width: 100%;
}
.footer
{
	background: #6C5468;
}
.social{
	text-align: center;
	padding: 3% 0%;
	margin: 0% auto;
}
.social ul li{
	float: left;
	margin-right: 7px;
}
.social ul li:nth-child(5)
{
	margin-right: 0px;
}
.social  ul{
	padding: 0.5em 0.5em;
	border-radius: 2px;
}
.social  ul li{
	background: url(../images/sprites.png);
	width: 32px;
	height:35px;
}
.social  ul li:nth-child(1)
{
	background: url(../images/sprites.png) 0% 0%;
}
.social  ul li:nth-child(1):hover
{
	background: url(../images/sprites.png) 0% 100%;
}
.social  ul li:nth-child(2)
{
	background: url(../images/sprites.png) 25% 0%;
}
.social  ul li:nth-child(2):hover
{
	background: url(../images/sprites.png) 25% 100%;
}
.social  ul li:nth-child(3)
{
	background: url(../images/sprites.png) 50% 0%;
}
.social  ul li:nth-child(3):hover
{
	background: url(../images/sprites.png) 50% 100%;
}
.social  ul li:nth-child(4)
{
	background: url(../images/sprites.png) 77% 0%;
}
.social  ul li:nth-child(4):hover
{
	background: url(../images/sprites.png) 77% 100%;
}
.social  ul li:nth-child(5)
{
	background: url(../images/sprites.png) 100% 0%;
}
.social  ul li:nth-child(5):hover
{
	background: url(../images/sprites.png) 100% 100%;
}
/*----copy-right----*/
.copy-right{
	background: #52334D;
	text-align: center;
}
.copy-right p{
	color:#6C5468;
}
.copy-right p a{
	color:#fff;
}
.copy-right p a:hover{
	color:#6C5468;
}
.copy-right {
	padding: 1em 0;
}
/*----*/
/*********start-about******/
/*---strat-about----*/
/*--about--*/
.col:first-child {
	margin-left: 0;
}
.content {
	margin: 2em 0em;
}
.col {
	display: block;
}
.about h3 {
	border-bottom: 1px solid #6C5468;
	font-size: 1.1em;
	color: #7D7D7D;
	text-transform: uppercase;
	padding: 0.3em 0em;
	margin-bottom: 1em;
}
.about p {
	color: #969696;
	font-size: 14px;
	line-height: 1.8em;
}
.about-img {
	width: 29%;
	float: left;
	margin-right: 3%;
}
.about-desc {
	margin-right: 0;
}
.grid_1_of_4{
	display: block;
	margin: 1% 0 1% 1.6%;
	text-align: center;
}
.images_1_of_4  img{
	max-width:100%;
	border-radius: 50%;
	margin: 6px -2px 4px 0px;
}
.images_1_of_4 h6{
	color:#4E525D;
	font-size:1em;
	font-style: italic;	
}
.grid_1_of_4 h4{
	padding: 1em 0em;
}
.comments-custom li {
	overflow: hidden;
	margin: 0;
	padding: 0px 0 25px 0;
	border-bottom: none;
	background: none;
}
.comments-custom.unstyled .icon {
	background: url(../images/comment.png) no-repeat 0 50%;
	width: 37px;
	height: 70px;
	float: left;
	border-right: 1px solid #EBEBEB;
	padding: 0 8px 0 0;
	margin: 0 10px 0 0;
}
.right-text {
	width: 70%;
	float: left;
}
.comments-custom.unstyled .comments-custom_h,.images_1_of_4  h4 a,.about-topgrid1 h5,.about-histore ul li span,.questions h4 {
	color: #6C5468;
	font-size: 1.1em;
	font-style: italic;
}
.comments-custom.unstyled:hover .comments-custom_h:hover,.images_1_of_4  h4 a:hover,.about-topgrid1 h5:hover,.about-histore ul li span:hover,.questions h4:hover
{
	color: #868F98;
	cursor: pointer;
}
.comments-custom.unstyled .comments-custom_txt {
	padding: 10px 0px;
	font-size: 13px;
	line-height: 1.5em;
}
.comments-custom.unstyled .comments-custom_txt a {
	color: #969696;
	
}
.about-top{
	margin-bottom:1%;
}
.about-bottom{
	margin-bottom:2%;
}
.comments-custom time {
	font-size: 11px;
	color:#888;
}
.about-topgrid1 img {
	margin-bottom:10px;
}
.about-topgrid1 h5 {
	font-size: 13px;
	padding: 1.3em 0em;
}
.about-histore ul li span {
	font-size: 14px;
	padding: 15px 0px 15px 0px;
	margin-bottom: 13px;
	float: left;
	width: 15%;
}
.about-histore ul li span:hover {
		color: #868F98;
		cursor: pointer;
}
.about-histore ul li p {
	padding: 4px 0px 8px 0px;
	float: right;
	width: 83%;
}
.questions {
	margin: 10px 0 3px 0;
}
.questions h4 {
	font-size: 15px;
	margin-bottom: 5px;
}
.questions p {
	padding: 4px 0px 8px 0px;
}

/*---//End-about----*/
/********start_musings*****/
.main1 {
	padding: 2.5em 0em 2em 0em;
}
#gallerylist {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	overflow:hidden;
	width:100%;
}
.gallerylist-wrapper {
	overflow:hidden;
	position: relative !important;
	cursor:pointer;
	margin-bottom: 1em;
}
.gallerylist img {
	max-width:100%;
	position: relative;
	-webkit-filter: grayscale(100%);
	opacity: 5;
	transition: all 300ms!important;
	-webkit-transition: all 300ms!important;
	-moz-transition: all 300ms!important;
}
.images {
	display: inline-block;
	border: 1px solid #E3E3E3;
	box-shadow: 0px 0px 6px #E3E3E3;
}
.simg
{
	width:30px;
	height:30px;
}


.pop_up p a{
	font-size: 1em;
	color: #555555;
	line-height: 1.8em;
}
.gallerylist-wrapper   span {
	position: absolute;
	width: 100%;
	height:100%;
	top: 0px;
	left: 0px;
	text-align: center;
	color: #FFF;
	text-shadow: 0px 1px 1px rgba(0,0,0, 0.6);
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
	background:rgba(0, 0, 0, 0.53);
}
#gallerylist1
{
	padding:2em 0em 0em 0em
}
.gallerylist-wrapper span h2{
	color:#fff;
	font-size:1em;
	font-style: italic;
	margin: 0.5em 0em 0.5em 0em;
}
.gallerylist-wrapper span p
{
	color: #fff;
	font-size: 0.8em;
	margin: 0.5em 0.5em 1em 0.5em;
	line-height: 1.8em;
	text-align: center;
}
.main_btm
{
	border: 1px solid #E3E3E3;
	box-shadow: 0px 0px 6px #E3E3E3;
}
.gallery
{
	margin: 10px;
}
/****end_musing*****/
/*****start-verse*****/
/*--single--*/
.single-img img {
	display: block;
}
p.blog-text {
	color: #969696;
	font-size: 0.95em;
	line-height: 1.8em;
	padding: 0em 0em 1em 0em;
}
.project-list {
	background: #6C5468;
	padding:20px 20px 8px 20px;
	margin-bottom: 30px;
}
.project-list h4, .project-list1 h4, .project-list2 h4 {
	font-size: 1.1em;
	color:#EFCCF8;
	margin-bottom:20px;
	text-transform: uppercase;
	font-style: italic;
}
.blog-list li {
	margin-left: 20px;
	margin-bottom: 20px;
}
.blog-list li a {
	font-size:0.8125em;
	color:#fff;
	vertical-align: top;
	}
.blog-list li a:hover{
	color:#969696;
}
.project-list1 {
	background: #6C5468;
	padding:20px 20px 10px 20px;
	margin-bottom: 30px;
}
.project-list1 li img {
	float: left;
	margin-right:15px;
	width: 27%;
}
.project-list1 li{
	margin-bottom:20px;
}
.project-list1 li p {
	width: 62.5%;
	float: left;
}
.project-list1 li p a {
	padding: 0;
	color: #FFF;
	font-size:12px;
	text-transform: uppercase;
}
span.likes {
	float: right;
	font-size: 0.8125em;
	color: #FFF;
	padding-top: 18px;
}
span.link1 a {
	color: #FFF;
	margin-right: 10px;
}
span.link1 a:hover {
	text-decoration:underline;
}
.comment-desc a:hover {
	text-decoration: underline;
}
ul.dc_pagination {
	height: 100%;
	list-style-type: none;
	margin:30px 0 0px;
	overflow: hidden;
	padding: 0px;
}
ul.dc_pagination li:first-child {
	margin-left: 0px;
	margin-right: 2%;
	text-transform: uppercase;
}
ul.dc_pagination li {
	float: left;
	margin: 0px;
	margin-left: 5px;
	padding: 0px;
}
ul.dc_pagination li a {
	color: #000;
	display: block;
	padding: 7px 10px 7px 10px;
	text-decoration: none;
	font-size: 0.8em;
}
ul.dc_paginationA06 li a:hover, ul.dc_paginationA06 li a.current {
	background:#6C5468;
	color:#fff;
}
ul.dc_pagination li:last-child {
	margin-left: 22%;
	margin-right: 0px;
	text-transform: uppercase;
}
/****/
.images1
{
	border-radius: 0px;
}
.single-img {
	margin: 10px;
}
.single-img img{
	width:100%;
}
/*******start-prose*********/
/*  GRID OF THREE   ============================================================================= */
.col_1_of_3{
	display: block;
	margin-bottom: 2em;
}
.span_1_of_3  h3{
	color:#777;
	font-size:1.1em;
	line-height: 1.2;
	font-weight : normal;
	margin-top: 0px;
	letter-spacing: -1px;
	margin-bottom: 20px;
	text-transform: uppercase;
}
h5.head {
	color: #555;
	font-size: 2.3em;
	line-height: 35px;
	text-transform: uppercase;
	margin-bottom: 3%;
}
/*--content--*/
.dc-head-info {
	margin: 2em 0em 0em 0em;
}
h5.head{
	color: #555;
	font-size:1.1em;
	line-height: 35px;
	text-transform: uppercase;
	margin-bottom: 3%;
	text-align: center;
}
.dc-head-info span {
	color: #888;
	font-size: 1em;
	text-transform: uppercase;
	font-style: italic;
}
.dc-profile p {
	font-size: 1em;
	color: #969696;
	padding: 20px 0px;
	line-height: 1.5em;
}
.btn-6a {
	border: 2px solid #6C5468;
}
.btn-6 {
	color: #FFF;
	background:#6C5468;
}
.btn {
	cursor: pointer;
	padding: 6px 15px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	font-size: 1em;
}
.btn-6a:hover {
	background: rgba(0, 0, 0, 0);
	color:#7D7D7D;
}
.top-box{
	background:#E3F7CE;
}
.content-top{
	padding: 6% 0 6%;
}
.footer-box{
	background: rgba(108, 84, 104, 0.65);
	padding:3em 1em 1em 0em;
}
.slideshow {
	color:#ff;
}
.f-desc1{
	color: #fff;
	font-size: 1em;
	line-height:1.5em;
}
h4.f-head{
	font-size:1em;
	text-align:center;
	color:#fff;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-style: italic;
}
/***/
.content-middle {
	padding: 2em 0em;
}
.dc-head-img a
{
	margin: 10px 10px 4px 10px;
	display: block;
}
/********start_contact*****/
/*----start-get-intouch----*/
.map img
{
	width:100%;
}
.get-intouch h3{
	font-size: 1.1em;
	color: #7D7D7D;
	font-family: 'Alegreya', serif;
	margin-bottom: 1.2em;
	text-align: center;
	text-transform: uppercase;
}
.get-intouch {
	margin: 4em 0 0;
}
.get-intouch-grids{
	
}
.get-intouch-left-address h4{
	color: #7D7D7D;
	font-size: 1.1em;
	margin: 0.5em 0 0.7em 0;
	font-style: italic;
}
.get-intouch-left-address p,.get-intouch-left-address p a{
	color: #969696;
	font-size: 1em;
	line-height:1.6em;
}
.get-intouch-left-address p a:hover{
	color:#E8432E;
}
.get-intouch-center-form h5
{
	color: #454545;
	font-size: 1.1em;
	padding: 0.3em 0em;
	font-style: italic;
}
.get-intouch-center-form input[type="text"]{
	width: 100%;
	color:#B9B9B9;
	border: 1px solid #CCCCCC;
	border-right: 0;
	border-left: 0;
	border-top: 0;
	outline: none;
	padding: 0.5em 0;
	font-size: 1em.
}
.get-intouch-center-form input[type="text"]:focus,.get-intouch-center-form textarea:focus{
	color:#946D8D;
}
.get-intouch-center-form textarea{
	width: 100%;
	border: 1px solid #CCCCCC;
	border-right: 0;
	border-left: 0;
	border-top: 0;
	outline: none;
	padding: 0.5em 0;
	font-size: 1em;
	height: 30px;
	resize: none;
	color: #B9B9B9;
}
.frist{
	margin-right:2%;
}
.get-intouch-center-form input[type="submit"]{
	border: none;
	color: #000;
	float: right;
	font-size: 1em;
	background: url(../images/msg.png) no-repeat #fff 0% 50%;
	padding: 0em 0.2em 0 1.5em;
	outline:none;
	cursor:pointer;
	margin-top: 1em;
}
.get-intouch-center-form input[type="submit"]:hover{
	color:#946D8D;
}
.get-intouch-right-social ul li{
	display:block;
}
.get-intouch-right-social ul li a{
	width:32px;
	height:32px;
	display:block;
	margin: 0 auto;
	margin-bottom: 0.4em;
}
.be{
	background: url(../images/image-sprite.png) no-repeat -288px 2px;
}
.twitter{
	background: url(../images/image-sprite.png) no-repeat -288px -44px;
}
.dribble{
	background: url(../images/image-sprite.png) no-repeat -288px -87px;
}
.tree{
	background: url(../images/image-sprite.png) no-repeat -288px -133px;
}
.google{
	background: url(../images/image-sprite.png) no-repeat -288px -175px;
}
.get-intouch-center-form {
	margin-top: 30px;
}
/*----*/
.map{
	margin-top: 2em;
}
