* {
    padding: 0;
    font-family: "微软雅黑";
}
.nav {
    height: 56px;
}

#content {
    margin: -20px 0;
}
.navbar img {
    position: relative;
    left: 60px;
    top: -10px;
}

.navbar-collapse > ul > li {
    position: relative;
    left: 500px;
}

.nav li a {
    color: #333;
    font-size: 11px;
    line-height: 25.5px;
}

.dropdown-menu li a {
    color: black;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #fbfbfb;
}

.dropdown > a {
    color: #bc2e2e !important;
}

.navbar-default .navbar-nav > li > a:hover {
    border-bottom: 3px solid #bc2e2e !important;
}